{% extends 'base.html' %}


{% block content %}

<div>

  <div style="text-align: center; max-width: 500px; margin: 4rem auto;">

    <p>
      {{ targetUser.date_joined }}
    </p>


    {% if targetUser.profile %}
    <img src="{{ targetUser.profile.image.url }}" alt="" style="height: 12rem; width: 12rem; border-radius: 20rem;
    margin-bottom: 2rem; object-fit: cover;">
    <h2 style="'font-family: 'NanumSquareBold'">
        {{ targetUser.profile.nickname }}
          {% if targetUser == user %}
          <a href = "{% url 'profileapp:update' pk=targetUser.profile.pk %}">
            edit
          </a>
          {% endif %}
      </h2>
      <!--대화명 작성-->
      <h4 style="margin-bottom: 2rem;">
        {{ targetUser.profile.message }}
      </h4>
    {% else %}
      {% if targetUser == user %}
      <a href="{% url 'profileapp:create' %}">
        <h2 style="'font-family: 'NanumSquareBold'">
          Create Profile
        </h2>
      </a>
      {% else %}
        <h2>
          No Nickname
        </h2>
      {% endif %}
    {% endif %}

    {% if targetUser == user %}
    <a href="{% url 'accountapp:update' pk=user.pk %}">
      <p>
        Change Info
      </p>
    </a>
    <a href="{% url 'accountapp:delete' pk=user.pk %}">
      <p>
        Quit
      </p>
    </a>
    {% endif %}


  </div>
</div>

{% endblock %}