{% extends 'base.html' %}

{% block content %}
    <!-- project 화면의 상세 페이지 -->
    <div>

      <div style="text-align: center; max-width: 700px; margin: 4rem auto;">

          <img src="{{ targetProject.image.url }}" alt=""
               style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit:cover;">

          <h2 style="font-family: 'NanumSqureBold'">
              {{ targetProject.title }}
          </h2>
          <h5 style="margin-bottom:3rem;">
              {{ targetProject.description }}
          </h5>
      </div>

        <div>
            {% include 'snippets/list_fragments.html' with article_list=object_list %}
        </div>
    </div>

{% endblock %}

