
    <div style="text-align:center; margin: 2rem 0;">
     <div>
            <h1 class="corest_header_title">Corest</h1>
        </div>
        <div class="corest_header_navbar">
             <a href="{% url 'articleapp:list' %}" class="corest_header_nav">
                <span>Articles</span>
             </a>
            <a href="{% url 'projectapp:list' %}" class="corest_header_nav">
                <span>Projects</span>
            </a>
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="corest_header_nav">
                <span>login</span>
            </a>
            <a href="{% url 'accountapp:create' %}" class="corest_header_nav">
                <span>SignUp</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}" class="corest_header_nav">
                <span>MyPage</span>
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="corest_header_nav">
                <span>logout</span>
            </a>
            {% endif %}
        </div>
    </div>