{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <!-- article 화면의 상세 페이지 -->
    <div>

      <div style="text-align: center; max-width: 700px; margin: 4rem auto;">

        <p>
          {{ targetUser.date_joined }}
        </p>

       <h1>{{ targetArticle.title }}</h1>
       <h4>{{ targetArticle.writer.profile.nickname }}</h4>
       <hr>
        <img style = 'width: 100%; border-radius: 1rem; margin: 2rem 0;'
                src="{{ targetArticle.image.url }}" alt="">
          <div class="mb-4" style="text-align:left">
              {{ targetArticle.content | safe }}
        </div>

        {% if targetArticle.writer == user %}
        <a href="{% url 'articleapp:update' pk=targetArticle.pk %}"
            class="btn btn-success rounded-pill col-3">
            Update
        </a>
        <a href="{% url 'articleapp:delete' pk=targetArticle.pk %}"
            class="btn btn-warning rounded-pill col-3">
            Delete
        </a>
        {% endif %}
        <hr>
        {% for comment in targetArticle.comment.all %}
          {% include 'commentapp/detail.html' with comment=comment %}
        {% endfor %}
          {% include 'commentapp/create.html' with article=targetArticle %}
      </div>
    </div>

{% endblock %}

